body{
    margin: 0px auto;
    padding: 0px;
    max-width: 1500px;
    border-left: 2px solid #008000;
    border-right: 2px solid #008000;
    background-color: white;  
}
.background{
    background-color: aliceblue;
}

nav{
    display: flex;
    position: sticky;
    top: 0;
    justify-content: space-between;
    background-color: aliceblue;
    border-bottom: 5px solid #008000;
    padding: 5px;
    margin: 0 0 15px 0;

    font-family: "Courier Prime", monospace;
    font-weight: 700;
    font-style: normal;
}
div{
    font-family: "Courier Prime", monospace;
    font-weight: 700;
    font-style: normal;
}

.splash{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0px 15px;
}
.splash img{
    border: solid 5px;
    border-color: #008000;
}
.splash p{
    font-family: "Anonymous Pro", monospace;
    font-weight: 700;
    font-style: normal;
}
section{
    margin: 5px;
    padding: 0px 15px;
}
hr{
    border: dotted;
    border-color:  #008000;
}

h1{
    font-family: "Courier Prime", monospace;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
    color:green;
    /* text-decoration: underline green; */
}

.headshot{
    height: 200px;
}

h2{
    font-family: "Courier Prime", monospace;
    font-weight: 700;
    font-style: normal;
    color: #008000;
}

dl{
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: "Anonymous Pro", monospace;
    font-weight: 700;
    font-style: normal;
}
dt.awardspad{
    border-bottom: thin solid #008000;
    padding-top: 15px;
}
dd.awardspad{
    border-bottom: thin solid #008000;
    width:fit-content;
    padding-left: 15px;
    padding-top: 15px;
}

.awardspad{
    padding-top: 10px;
    margin: 0px;   


}
ul{
    font-family: "Anonymous Pro", monospace;
    font-weight: 700;
    font-style: normal;
    list-style-image: url(images/down-arrow.png);
    height: fit-content;
}

.education-col{
    display: grid;
    margin: auto;
    grid-template-columns: 2fr 1fr;
}
.edu{
    /* border: 1px solid red; */
    padding-right: 15px;
}

.card-col{
    display: grid;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 20px;
}


.card{
    width: 400px;
    /* height: 550px; */
    height: auto;
    min-height: 550px;

    box-shadow: 0 4px 8px 0 black;
    border-radius: 10px;
    margin: 20px auto;
    background-color: white;

    
}
.card img{
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    height: 300px;
}

.card:hover{
    box-shadow: 0 8px 16px 0 black;
    border: 1px solid red;
    margin: 0px auto;
}

.contact-col{
    display: grid;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 20px;
}

.contact-card{
    /* display: grid;
    margin: auto;
    grid-template-columns: 1fr; */
    box-shadow: 0 4px 8px 0 black;
    border-radius: 20px;
    margin: 20px auto;
    background-color: white;
    width: 200px;
    height: 250px;
    text-align: center;
    padding: 10px;
}

.contact-card h2{
    margin: 0px 0px;
    height: 30px;  
}

.contact-card p{
    padding: 0px;
    margin: 0px;
}

.contact-card img{
    align-items: center;
    width: 200px;

}
.copy p{
    justify-content: center;
    align-items: center;
}


.contact-card:hover{
    box-shadow: 0 8px 16px 0 black;
    border: 1px solid red;
    margin: 15px auto;
}
.copy{
    border: 1px solid black;
    border-radius: 20px;
    margin: 5px 0px;
    justify-content: center;
    align-items: center;
}

.copy:hover{
    /* box-shadow: 0 8px 16px 0 black; */
    border: 1px solid red;
    background-color: bisque;
    cursor: pointer;
}
.copy:active{
    /* background-color: red; */
    box-shadow: 0px 0px 4px 4px red;
}
@media screen and (max-width: 1300px){

    .card-col{
        padding: 0px 20px;
        grid-template-columns: 1fr 1fr;
    }

}

@media screen and (max-width: 900px){

    .card-col{
        margin: 20px;
        grid-template-columns: 1fr;
    }

    .card:hover{
        box-shadow: 0 8px 16px 0 black;
        border: 1px solid red;
        margin: 20px auto;
    }

    .contact-col{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 500px){

    .card{
        width: 300px;
        /* height: 450px; */
        height: auto;
        min-height: 500px;   
    }

    .card img{
        height: 200px;
    }

    .contact-col{
        grid-template-columns: 1fr;
    }

}



h3{
    padding: 5px;
}

.redcolor{
    display: inline;
    
    font-size: 101%;
    color: red;
}
.greencolor{
    display: inline;
    color:#008000;
    font-size: 101%;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    border-top: 5px solid #008000;
    border-bottom: 5px solid #008000;
    padding: 5px;

    font-family: "Anonymous Pro", monospace;
    font-weight: 700;
    font-style: normal;
}

a.default-link {
    text-decoration: none;
    color: darkblue;
}

a.default-link:visited{
    text-decoration: none;
    color:blueviolet;
}
a.default-link:hover{
    color: red;
    font-size: 101%;
}

a.cardlink{
    text-decoration: none;
    color: inherit;
    height: fit-content;
    display: block;
    margin: 20px auto;

}
a.cardlink:active{
    color: inherit;
}
a.cardlink:visited{
    text-decoration: none;

}
a.cardlink:visited h3{
    text-decoration: none;
    color:blueviolet;   
}
.formletters{
    font-family: "Anonymous Pro", monospace;
    font-weight: 700;
    font-style: normal;
    color: #008000;

    margin: 5px 0px 1px 0px;
}

.formbox{
    box-shadow: 0 2px 4px 0 black;
    border-radius: 5px;



    font-family: "Anonymous Pro", monospace;
    font-weight: 700;
    font-style: normal;
    color: red;
    
}
.formbox:hover{
    box-shadow: 0 4px 8px 0 black;
}